body{
	background: #e4e5e5;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	font-family: 'Prompt', sans-serif;
}
#nav-title{
	color: white;
	letter-spacing: 2px;
}

.container-fullwidth{
	padding-left: 50px;
	padding-right: 50px;
}

.navbar{
	background: #666;
}

.nopd{
	padding-left: 0;
	padding-right: 0;
}

.nopd-8{
	padding-left: 8px;
	padding-right: 8px;
}

.mgb-5{
	margin-bottom: 5px;
}

.mgr-5{
	margin-right: 5px;
}

.mgr-10{
	margin-right: 10px;
}

.mgr-20{
	margin-right: 20px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.conclu-txt{
  border: solid #767676;
  margin-left: 5px;
  padding-top: 5px;
}

.conclu-price{
  border: solid #767676;
  background: #767676;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
}

.conclu-price-input{
  font-weight: bold; 
  font-size: 22px;
  padding-top: 4px; 
  padding-bottom: 4px; 
  padding-left: 0px; 
  padding-right: 0px;
}

.check-bill-input{
  font-weight: bold; 
  background: #767676; 
  color: black; 
  font-size: 26px;
  padding-top: 5px; 
  padding-bottom: 4px; 
} 
.no-border {
  box-shadow: none;
  border: 0;
  background: #4c4c4c;
}
input[type="radio"] {
  margin-right: 3px;
}

.radio-inline {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 10px;
}