<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ddcar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4F912F80308CE87429F33612D274F43A37541A2D</string>
				<key>dateExpires</key>
				<string>7/10/2561 BE</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>89RZ5JATKM.com.gitmew.ddcar</string>
				<key>com.apple.developer.team-identifier</key>
				<string>89RZ5JATKM</string>
			</dict>
			<key>name</key>
			<string>ddcar.app</string>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>89RZ5JATKM</string>
				<key>name</key>
				<string>Wiselytransfer Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
