*{
	outline: none !important;
}
body{
	font-family: 'Prompt', sans-serif !important;
	font-size: 100%;
	background: #fdfdfd;
}

.navs {
  border: 1px solid #e5e5e5 !important;
  height: 8% !important;
  background: white !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 15px !important;
}

#h5-title{
	font-weight: bold;
	font-size: 150%;
	color: #666666;
	letter-spacing: 2px;
}

#i-back{
	font-size: 130%;
	color: #666666;
}

.menu {
  font-size: 130%;
  color: #d4d4d4;
}

.active{
  color: #4c4c4c !important;
}

.mbtn{
	background-color: white;
	border: 2px solid #e5e5e5;
	height: 200%;
	width: 85%;
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	letter-spacing: 2px;
	border-radius: 5px;
}

.sub{
	background-color: white;
	border: 2px solid #e5e5e5;
	height: 160%;
	width: 85%;
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	letter-spacing: 2px;
	border-radius: 5px;
}

.select{
	background-color: white;
	border: 2px solid #e5e5e5;
	height: 100%;
	width: 60%;
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	letter-spacing: 2px;
	border-radius: 5px;
}

.func{
	margin-bottom: 15%;
}

.i-edit{
	margin-right: 2%;
}

label{
	color: #666666;
	letter-spacing: 2px;
	font-size: 120%;
}

.w3-input{
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%;
	background-color: #fdfdfd;
	text-align: center;
}
