*{
	outline: none !important;
}
body{
	font-family: 'Prompt', sans-serif !important;
	font-size: 110%;
	background: #f3f3f3;
	overflow: hidden;
}

.navs {
  height: 8% !important;
  background: #d63232 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px !important;
}

.tabs{
	border-bottom: 5px solid #d63232; color: #d63232;
}

.non{
	color: #888888;
}

#h5-title{
	font-weight: bold;
	font-size: 145% !important;
	color: white;
	letter-spacing: 2px;
	margin-left: 3%;
}
#cus-title{
	font-weight: bold;
	font-size: 125% !important;
	color: #666666;
	letter-spacing: 1px;
	margin-left: 2%;
}

#i-back{
	font-size: 145%;
	color: white;
	margin-top: 3px;
}

#show-box, #show-box-go{
	font-size: 125%;
	color: white;
	margin-top: 3px;
}

.menu {
  font-size: 130%;
  color: #e57f7f;
}

.active{
  color: white !important;
}

.mg-10{
	margin-bottom: 10%;
}

.mg-15{
	margin-bottom: 15%;
}

.mg-7{
	margin-bottom: 7%;
}

.mg-5{
	margin-bottom: 5%;
}

.mg-6{
	margin-bottom: 0.67em;
}

.mg-18{
	margin-bottom: 18%;
}

.mbtn{
	background-color: #da4646;
	border: 1px solid #da4646;
	height: 145%;
	width: 100%;
	font-weight: bold;
	font-size: 120%;
	color: white;
	letter-spacing: 2px;
	border-radius: 5px;
	box-shadow: 0 1px 2px  #de5a5a, 0 1px 1px #de5a5a;
}

.mbtn-green{
	background-color: #66b266;
	border: 1px solid #66b266;
	height: 145%;
	width: 100%;
	font-weight: bold;
	font-size: 120%;
	color: white;
	letter-spacing: 2px;
	border-radius: 5px;
	box-shadow: 0 1px 2px  #7fbf7f, 0 1px 1px #7fbf7f;
}

.mbtn-cancle{
	background-color: #bcc0c0;
	border: 1px solid #bcc0c0;
	height: 145%;
	width: 100%;
	font-weight: bold;
	font-size: 120%;
	color: white;
	letter-spacing: 2px;
	border-radius: 5px;
	box-shadow: 0 1px 2px  #c9cccc, 0 1px 1px #c9cccc;
}

.select_folder{
	background-color: #fdfdfd;
	border: 1px solid #e5e5e5;
	height: 145%;
	width: 100%;
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	letter-spacing: 2px;
	border-radius: 5px;
	box-shadow: 0 1px 2px  #e5e5e5, 0 1px 1px #e5e5e5;
}

.svbtn{
	background-color: #f3f3f3;
	border: 1px solid green;
	height: 80%;
	width: 85%;
	font-weight: bold;
	font-size: 120%;
	color: green;
	letter-spacing: 2px;
	border-radius: 5px;
	box-shadow: 0 1px 1px  green, 0 0px 0px green;
}

.select{
	background-color: white;
	border: 2px solid #e5e5e5;
	height: 100%;
	width: 60%;
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	letter-spacing: 2px;
	border-radius: 5px;
}

.func{
	margin-bottom: 15%;
}

.i-edit{
	margin-right: 2%;
}

label{
	color: #666666;
	letter-spacing: 2px;
	font-size: 120%;
}

.w3-input{
	display:block;
	border:none;
	border-radius: 0;
	border-bottom:1px solid #ccc;
	width:100%;
	background-color: #f3f3f3;
	text-align: center;
}

.input-cf{
	display:block;
	border:none;
	border-radius: 0;
	border-bottom:1px solid #ccc;
	width:100%;
	background-color: white;
	text-align: center;
}

.w3-input2{
	display:block;
	border:none;
	border-radius: 0;
	width:100%;
	background-color: #f3f3f3;
	text-align: center;
}

.badge-notify{
	background-color: white;
	border-radius: 50%;
	border: 1px solid red;
	font-size: 95%;
	color: red;
}

.fixed-bottom{
	height: 7% !important; 
	padding-top: 12px !important;
}

.circle-text {
	height: 1.7em; /*change this and the width
	for the size of your initial circle*/
	width: 1.7em;
	line-height: 1.8em;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	/*make it pretty*/
	background: #fafafa;
	font-weight: bold;
	color: #d63232;
}