.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.25); /*dim the background*/
}

#img{
	width: 100%;
  height: auto;
	z-index: 999;
  display: block;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
