body, html {
  height: 100%;
}
#col-brand {   
    background: #777;
}
#col-prod {
    background: #e4e5e5;
    border-left: solid 10px #e4e5e5; 	
}	
.brand{
	color: #fff;
	margin-top: 8%;
	letter-spacing: 2px;
	border: solid 2px #fff;
	border-radius: 3px; 
	cursor: pointer;
}
.prod-odd, .prod-even{
	padding-left: 5%; padding-top: 1%; padding-bottom: 1%; color: #fff; margin-bottom: 1%; cursor: pointer;
}
.prod-odd{
	background-color: #999;
}
.prod-even{
	background-color: #858585;
}
.prod-title{
	padding-left: 10%; padding-top: 1%; padding-bottom: 1%; background-color: #777; color: #fff; margin-bottom: 2%;
}
.folder-title{
	text-decoration: underline; color: #fff; margin-bottom: 10%;
}
.form-check-input{
	margin-right: 4%;
}
input[type='checkbox'], .fa-folder {
	margin-right: 4%;
}
input[type='text']{
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom: 10px;
}
.fas{
	color: white;
	cursor: pointer;
}
.fa-plus-circle{
	color: #5cb85c;
}
.fa-trash{
	color: #d9534f;
}
.fa-pen{
	color: #5bc0de;
}
.fa-folder{
	color: #ffffe7;
}
.add-brand input{
	outline: none !important;
		box-shadow: none !important;
		border: none !important;
}
.delbrand{
	background-color: #dc6460;
	border-color: #dc6460;
}
.editbrand{
	border-color: #5bc0de;
}